<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello React</title>
    <link rel="stylesheet" href="../static/css/materialize.css" >
    <link rel="stylesheet" href="../static/css/main.css" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> 
  </head>
  <body>
      <%- include("general_navbar.ejs") %>
      <ul id="slide-out" class="side-nav fixed">
        <li><div class="userView">
          <div class="background">
            <img src="../static/images/1.jpg">
          </div>
          <a href="#!user"><img class="circle" src="../static/images/no-avatar.png"></a>
          <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div>
        </li>
        <li><a class="waves-effect" href="general_info.html">Boards</a></li>
        <li><a class="waves-effect" href="boards.html">Create Board</a></li>
        <li><a class="waves-effect" href="create_board.html">Edit Board</a></li>
      </ul>
  <main>
           