<!DOCTYPE html>
<html>
<head class="mdc-typography">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hello React</title>
    <link rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection" >
    <link rel="stylesheet" href="../static/css/main.css" >
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> 
  </head>
  <body>
    <%- include("general_navbar.ejs") %>
     <ul id="slide-out" class="side-nav fixed">
    <li><div class="userView">
      <div class="background">
        <img src="../static/images/1.jpg">
      </div>
      <a href="#!user"><img class="circle" src="../static/images/no-avatar.png"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a class="waves-effect" href="dashboard.html">Home</a></li>
    <li><a class="waves-effect" href="projects.html">Projects</a></li>
    <li><a class="waves-effect" href="project_create.html">Create Project</a></li>
    <li><a class="waves-effect" href="#">User Profile</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="#">Github Accounts</a></li>
    <li><a class="waves-effect" href="#">Settings</a></li>
    <li><a class="waves-effect" href="#">Wiki</a></li>
  </ul>

  <main>
   