
</main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
    <script src="../static/js/main.js"></script>
    <script src="../static/js/bundle.js"></script>

  </body>
</html>