<header>
  <div class="row">
      <nav>
        <div class="nav-wrapper">
          
          <a href="#" class="brand-logo menu-logo" data-activates="drop_mobile"><span class="small__logo">
       Lagoon Manager
      </span></a>
          <a href="#" class="left-align dropdown-button hide-on-large-only" data-activates="drop_mobile"><i class="material-icons">more_vert</i></a>
          
          <ul id="drop_mobile" class="dropdown-content">
              <li><a  class="center-align" href="dashboard.html">Home</a></li>
              <li><a  class="center-align" href="projects.html">Projects</a></li>
              <li><a  class="center-align" href="project_create.html">Create Project</a></li>
              <li><a  class="center-align" href="#">User Profile</a></li>
              <li><div class="divider"></div></li>
              <li><a  class="center-align" href="#">Github Accounts</a></li>
              <li><a  class="center-align" href="#">Settings</a></li>
              <li><a  class="center-align" href="#">Wiki</a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="dashboard.html">Dashbord</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="drop_projects">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
    </nav>
  </div>
  <ul id="drop_projects" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="projects.html">all</a></li>
  </ul>
</header>

                