<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello React</title>
    <link rel="stylesheet" href="../static/css/materialize.css" >
    <link rel="stylesheet" href="../static/css/main.css" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> 
  </head>
  <body>
    
  <nav class="nav-extended">
    <div class="nav-wrapper ">
      <a href="#" class="brand-logo menu-logo">
        <span class="small__logo">
          Lagoon Manager
        </span>
      </a>
      <a href="#" class="left-align dropdown-button hide-on-large-only" data-activates="nav-mobile"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="dropdown-content">
        <li><a href="home.html">Home</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
      <ul class="right hide-on-med-and-down" id="mobile-demo">
        <li><a href="home.html">Home</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </div>
  </nav>
  