<#include "../dashboard/header.ftl">

<div class="board-container" id="board-container">
    <div class="board-section">

        <div class="card z-depth-4 board-card">
            <div class="user-story-card-title"><a href="#">TODO</a></div>
        </div>
        <div class="card-container">
            <div draggable="true" class="card z-depth-4 board-card dragable-card">
                <div class="card-content">
                    FIRST
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>

            </div>
            <div draggable="true" class="card z-depth-4 board-card dragable-card">
                <div class="card-content">
                    SECOND
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>

        <button class="btn-floating btn waves-effect waves-light board-add-button">
            <i class="material-icons">add</i>
        </button>

    </div>

    <div class="board-section">
        <div class="card z-depth-4 board-card">
            <div class="user-story-card-title"><a href="#">Doing</a></div>
        </div>
        <div class="card-container">
            <div draggable="true" class="card z-depth-4 board-card dragable-card">
                <div class="card-content">
                    THIRD
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>

            </div>
        </div>
        <button class="btn-floating btn waves-effect waves-light board-add-button">
            <i class="material-icons">add</i>
        </button>
    </div>

    <div class="board-section">
        <div class="card z-depth-4 board-card">
            <div class="user-story-card-title"><a href="#">Tesing</a></div>
        </div>
        <div class="card-container">
            <div draggable="true" class="card z-depth-4 board-card dragable-card">
                <div class="card-content">
                    FOURTH
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <button class="btn-floating btn waves-effect waves-light board-add-button">
            <i class="material-icons">add</i>
        </button>
    </div>

    <div class="board-section">
        <div class="card z-depth-4 board-card">
            <div class="user-story-card-title"><a href="#">Preview</a></div>
        </div>
        <div class="card-container">
            <div draggable="true" class="card z-depth-4 board-card dragable-card">
                <div class="card-content">
                    FIFTH
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>

        <button class="btn-floating btn waves-effect waves-light board-add-button">
            <i class="material-icons">add</i>
        </button>
    </div>

    <div class="board-section">
        <div class="card z-depth-4 board-card">
            <div class="user-story-card-title"><a href="#">Done</a></div>
        </div>
        <div class="card-container">
            <div draggable="true" class="card z-depth-4 board-card dragable-card">
                <div class="card-content">
                    SIXTH
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>

            </div>
        </div>

        <button class="btn-floating btn waves-effect waves-light board-add-button">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>

<#include "../dashboard/footer.ftl">