<!Doctype html>
<html>
<head>
    <title></title>
</head>
<body>
<h3>hello</h3>
<form action="/greeting" method="post">
    <input type="text" name="content" />

    <input type="submit" />

</form>
</body>
</html>