<%- include('layout/project_dashboard_header.ejs') %>

      <div class="row">
        <div class="col s12">
          <div class="card z-depth-4">
            <div class="card-content">
                <p><a href="#">#comments</a></p>
                <img src="../static/images/no-avatar.png" style="width: 42px; height: 42px" alt="test" class="circle">
                  <p><a href="#">Jack Black</a></p>
              <p>Left comment for task <a href="#">PR-231</a></p>
            <blockquote>
      This is an example quotation that uses the blockquote tag.
            </blockquote>
            </div>
          </div>
        </div>

        <div class="col s12">
          <div class="card z-depth-4">
            <div class="card-content">
                <p><a href="#">#bug_report</a></p>
                <img src="../static/images/no-avatar.png" style="width: 42px; height: 42px" alt="test" class="circle">
                  <p><a href="#">Nigel Johnes</a></p>
                  
              <p>Change status of <a href="#">PR-237</a> to Done</p>
            </div>
          </div>
        </div>

        <div class="col s12">
          <div class="card z-depth-4">
            <div class="card-content">
                <p><a href="#">#tasks</a></p>
                <img src="../static/images/no-avatar.png" style="width: 42px; height: 42px" alt="test" class="circle">
                  <p><a href="#">Nigel Johnes</a></p>
                  
              <p>Change status of <a href="#">PR-240</a> to InPropgress</p>
            </div>
          </div>
        </div>
      </div>
            

<%- include('layout/dashboard_footer.ejs') %>