<div class="row">
        <form method="GET" class="col s12" > 
        
        <div class="row">
         <div class="input-field col s12">
            <select name="task_branch">
              <option value="" disabled selected>Choose Type</option>
              <option value="1">Task</option>
              <option value="2">Bug</option>
            </select>
            <label>Type</label>
         </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="task_title" name="task_title" type="text" class="validate">
            <label for="story_title">Task Title</label>
          </div>
        </div>
        
        <div class="row">
         <div class="input-field col s12">
            <select name="task_branch">
              <option value="" disabled selected>Choose branch</option>
              <option value="1">Backend</option>
              <option value="2">Frontend</option>
            </select>
            <label>Branch</label>
         </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select multiple name="task_component">
              <optgroup label="team 1">
                <option value="1">Core</option>
                <option value="2">Auth</option>
              </optgroup>
              <optgroup label="team 2">
                <option value="3">Git Integration</option>
                <option value="4">Bitbucket Integration</option>
              </optgroup>
            </select>
            <label>Components</label>
        </div>
      </div>
        </div>

        <div class="row">
                <div class="input-field col s12">
                    <div class="autocomplete" id="multiple">
                        <div class="ac-users"></div>
                        <div class="ac-input">
                            <input type="text" id="multipleInput" placeholder="Please input some letters" data-activates="multipleDropdown" data-beloworigin="true" autocomplete="off">
                        </div>
                        <ul id="multipleDropdown" class="dropdown-content ac-dropdown"></ul>
                        <input type="hidden" name="multipleHidden" />
                    </div>
                    <label class="active" for="multipleInput">Assignee</label>
                </div>
      </div>

      <div class="row">
        <div class="col s12">
         <textarea id="editor" name="editor" rows="20" columns="6"> </textarea>
        </div>
      </div>
      
<div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
</div>
      
    </form>