   <%- include('layout/header.ejs') %>
             <div class="row">
    <form class="col s12 m6 offset-m3 l4 offset-l4">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate">
          <label for="email">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      
    <button class="btn waves-effect waves-light" type="submit" name="action">Login
    </button>
        
    </form>
  </div>
   
              
        

<%- include('layout/footer.ejs') %>