<%- include('layout/project_dashboard_header.ejs') %>

    <div class="row">

      <ul class="tabs">
        <li class="tab"><a href="#all_members">All</a></li>
        <li class="tab"><a href="#invite_member">Invite</a></li>
      </ul>

      <div id="all_members" class="menu_panel">
        <table>
        <thead>
          <tr>
              <th></th>
              <th>Send Message</th>
              <th>Name</th>
              <th>Role</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td><img src="../static/images/no-avatar.png" style="width: 42px; height: 42px" alt="test" class="circle"></td>
            <td><i class="material-icons circle">message</i></td>
            <td>Dennis Miller</td>
            <td>Developer</td>
          </tr>
          <tr>
            <td><img src="../static/images/no-avatar.png" style="width: 42px; height: 42px" alt="test" class="circle"></td>
            <td><i class="material-icons circle">message</i></td>
            <td>Alan</td>
            <td>Admin</td>
          
          </tr>
          <tr>
            <td><img src="../static/images/no-avatar.png" style="width: 42px; height: 42px" alt="test" class="circle"></td>
            <td><i class="material-icons circle">message</i></td>
            <td>Jonathan</td>
            <td>Devops</td>
           
          </tr>
        </tbody>
      </table>
       
        </div>
      </div>
      
      <div id="invite_member">
        
      </div>

<%- include('layout/dashboard_footer.ejs') %>