<%- include('layout/project_dashboard_header.ejs') %>

        <div class="page-content">

            <div class="mdl-card mdl-card--border mdl-shadow--2dp project_card">
                <div class="mdl-card__title">
                    <i class="material-icons">account_circle</i><div class="activity_username">Sam Witkins</div>
                    
                </div>
                <div class="mdl-card__supporting-text">
                    This text might describe the photo and provide further information, such as where and
                    when it was taken.
                </div>
                <div class="mdl-card__actions">
                    <a href="(URL or function)">Related Action</a>
                </div>
            </div>

            <div class="mdl-card mdl-card--border mdl-shadow--2dp project_card">
                <div class="mdl-card__title">
                    <i class="material-icons">account_circle</i><div class="activity_username">Lissa Michael</div>
                    
                </div>
                <div class="mdl-card__supporting-text">
                    This text might describe the photo and provide further information, such as where and
                    when it was taken.
                </div>
                <div class="mdl-card__actions">
                    <a href="(URL or function)">Related Action</a>
                </div>
            </div>

        </div>

    

<%- include('layout/dashboard_footer.ejs') %>