        <%- include('layout/dashboard_header.ejs') %>
      <!-- <h3 class="page_header">Create Project:</h3> -->

 <!-- <@spring.bind "project_form" /> -->

 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Name</label>
        </div>
      </div>
      <p>
      <input name="group1" type="radio" id="test1" />
      <label for="test1">Public</label>
    </p>
    <p>
      <input name="group1" type="radio" id="test2" />
      <label for="test2">Private</label>
    </p>

      <div class="row">
          <div class="input-field col s6">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="last_name">Description</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
      
    </form>
  </div>

<!-- <form action="/projects/create" method="post">
    <select class="custom_select" name="framework">
     <#list project_frameworks as frame>
        <option value="${frame.getId()}">${frame.getName()}</option>
    </#list> 
        <option>Kanban </option>
        <option>Scrum </option>

    </select>

    <input type="text" name="title" />
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <input type="submit" value="Create" /> -->


    <%- include('layout/dashboard_footer.ejs') %>