   <%- include('layout/header.ejs') %>
    
  <div class="row">
    <form class="col s12 m5 offset-m4 l4 offset-l4">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate">
           <!--  <@spring.formInput  "user.username", "id=username" />
            <@spring.showErrors "<br>" /> -->
          <label for="username">Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate">
           <!-- <@spring.formInput  "user.email", "id=email", "email" />
            <@spring.showErrors "<br>" /> -->
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <!-- <@spring.formPasswordInput "user.password", id=password" />
            <@spring.showErrors "<br>" /> -->
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="confirm" type="password" class="validate">
          <!--<@spring.formPasswordInput "user.confirm", "id=confirm" />
            <@spring.showErrors "<br>" /> -->
          <label for="confirm">Confirm</label>
        </div>
      </div>
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      
    <button class="btn waves-effect waves-light" type="submit" name="action">Sign-Up
    </button>
        
    </form>
  </div>

<%- include('layout/footer.ejs') %>