<%- include('layout/project_dashboard_header.ejs') %>

    <div class="row">

      <ul class="tabs">
        <li class="tab"><a href="#roles_list">List</a></li>
        <li class="tab"><a href="#roles_create">Create</a></li>
      </ul>

        <div id="roles_lis">
            <div class="row menu_panel">
                <div class="col s12">
                    <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Read" style="background: #ef5350; color: #ddd">Read</div>
                    <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Create" style="background: #5c6bc0; color: #ddd">Create</div>
                    <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit and Delete" style="background: #66bb6a; color: #ddd">Edit and Delete</div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <table class="bordered responsive-table">
                        <thead>
                        <tr>
                            <th>Role</th>
                            <th>Permissions</th>
                            <th>Branches</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Admin</td>
                            <td>all</td>
                            <td>all</td>
                        </tr>
                        <tr>
                            <td>Manager</td>
                            <td>all</td>
                            <td>frontend</td>
                        </tr>
                        <tr>
                            <td>Developer</td>
                            <td> 
                                <div class="chip" style="background: #ef5350; color: #ddd">Core</div>
                                <div class="chip" style="background: #5c6bc0; color: #ddd">Auth</div>
                                <div class="chip" style="background: #66bb6a; color: #ddd">Admin</div>
                            </td>
                            <td>backend</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

<%- include('layout/dashboard_footer.ejs') %>