<%- include('layout/project_dashboard_header.ejs') %>
  <div class="row">

    <ul class="tabs">
        <li class="tab"><a href="#task_table">List</a></li>
        <li class="tab"><a href="#create_task">Create</a></li>
      </ul>

<div id="task_table">
    <div class="col s12">
      <table class="bordered highlight responsive-table">
          <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Creator</th>
                <th>Branch</th>
                <th>Components</th>
                <th>Assign to</th>
                <th>Status</th>
                <th>Worked</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Task</td>
              <td>PR-202 Test</td>
              <td>Jack Samuel</td>
              <td>Frontend</td>
              <td>Homepage</td>
              <td>Nigel</td>
              <td>Open</td>
              <td>3h 22m</td>
            </tr>
            <tr>
              <td>Task</td>
              <td>PR-202 Test</td>
              <td>Jack Samuel</td>
              <td>Frontend</td>
              <td>Homepage</td>
              <td>Nigel</td>
              <td>Open</td>
              <td>3h 22m</td>
            </tr>
            <tr>
              <td>Task</td>
              <td>PR-202 Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit, sed do 
                  eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  Duis aute irure dolor in reprehenderit
                  in voluptate velit esse cillum dolore eu fugiat nulla pariatur</td>
              <td>Jack Samuel</td>
              <td>Frontend</td>
              <td>Homepage</td>
              <td>Nigel</td>
              <td>Open</td>
              <td>3h 22m</td>
            </tr>
            <tr>
              <td>Bug</td>
              <td>PR-202 Test</td>
              <td>Jack Samuel</td>
              <td>Frontend</td>
              <td>Homepage</td>
              <td>Nigel</td>
              <td>Open</td>
              <td>3h 22m</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="create_task">
    <%- include('./create_issue_form.ejs') %>
  </div>

<%- include('layout/dashboard_footer.ejs') %>