<%- include('layout/project_dashboard_header.ejs') %>

  <div class="row">
    
      <ul class="tabs">
        <li class="tab"><a href="#user_stories">List</a></li>
        <li class="tab"><a href="#create_story">Create</a></li>
      </ul>
    
  
    <div id="user_stories">
        <div class="row">
            <div class="col s12 l4 m6">
              <div class="card z-depth-4">
                <div class="user-story-card-title"><a href="#">Card Title</a></div>
                  <div class="card-content">

                    <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a class="edit_user_story" href="#">
                      Edit
                    </a>
                  </div>
              </div>
            </div>
            
      <div class="col s12 l4 m6">
          <div class="card z-depth-4">
            <div class="user-story-card-title"><a href="#">Card Title</a></div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a class="edit_user_story" href="#">
                    Edit
                  </a>
            </div>
          </div>
      </div>
      <div class="col s12 l4 m6">
          <div class="card z-depth-4">
            <div class="user-story-card-title"><a href="#">Card Title</a></div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a class="edit_user_story" href="#">
                    Edit
                  </a>
             
            </div>
          </div>
      </div>
      <div class="col s12 l4 m6">
          <div class="card z-depth-4">
            <div class="user-story-card-title"><a href="#">Card Title</a></div>
            <div class="card-content">
              <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam eaque ipsa,
                        quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt, explicabo. Nemo enim ipsam
                            voluptatem, quia voluptas sit, aspernatur aut odit
                            aut fugit, sed quia consequuntur magni dolores eos,
                            qui ratione voluptatem sequi nesciunt, neque porro
                            quisquam est, qui dolorem ipsum, quia dolor sit, amet,
                                consectetur, adipisci velit, sed quia non numquam eius
                                modi tempora incidunt, ut labore et dolore magnam
                                aliquam quaerat voluptatem. Ut enim ad minima veniam,
                                quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure </p>
            </div>
          </div></div>
        </div>
    </div>
    <div id="create_story" >
        <div class="row">
        <form method="POST" class="col s12" > 
        <div class="row">
        <div class="input-field col s12">
          <input id="story_title" name="story_title" type="text" class="validate">
          <label for="story_title">Story Title</label>
        </div>
        </div>
    
      <div class="row">
        <div class="col s12">
         <textarea id="editor" name="editor" rows="20" columns="6"> </textarea>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
      
    </form>

    </div>
  </div>     
  </div>

  <div id="edit_story_modal" class="modal">
      <div class="modal-content">
      <h5>New Component</h5>
      <form method="POST" class="col s12" > 
          <div class="row">
          <div class="input-field col s12">
            <input id="story_title" name="story_title" type="text" class="validate">
            <label for="story_title">Story Title</label>
          </div>
          </div>
      
        <div class="row">
          <div class="col s12">
           <textarea id="story_editor" name="editor" rows="20" columns="6"> </textarea>
          </div>
        </div>
  
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
        
      </form>
      </div>
      <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
</div>
<%- include('layout/dashboard_footer.ejs') %>