<#include "../dashboard/header.ftl">

<div class="row">

    <ul class="tabs">
        <li class="tab"><a href="#layers">Layers</a></li>
        <li class="tab"><a href="#components">Components</a></li>
    </ul>

    <div class="col s12">
        <div id="layers">
            <table class="responsive-table bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Backend
                        <span class="edit_icon project_layer_edit" data-id="1">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </span>
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td>PEM
                        <span class="edit_icon project_layer_edit" data-id="1">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </span>
                    </td>
                    <td>Project managment tasks

                    </td>

                </tr>
                <tr>
                    <td>Devops
                        <span class="edit_icon project_layer_edit" data-id="1">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </span>
                    </td>
                    <td>Deployment and Administration</td>

                </tr>
                </tbody>
            </table>
            <a href="#layer_create_form" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
            <div id="layer_create_form" class="modal">
                <div class="modal-content">
                    <h5>New Layer</h5>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Placeholder" id="layer_name" type="text" class="validate">
                                <label for="layer_name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="last_name">Description</label>
                            </div>
                        </div>

                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>

                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div id="components">
            <table class="responsive-table bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Branch</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Core
                        <span class="edit_icon project_component_edit" data-id="1">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </span>
                    </td>
                    <td>Core functionality</td>
                    <td>Backend</td>
                </tr>
                <tr>
                    <td>Main menu
                        <span class="edit_icon project_component_edit" data-id="1">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </span>
                    </td>
                    <td>Design of site menu</td>
                    <td>Frontend</td>
                </tr>
                <tr>
                    <td>Continious Integration
                        <span class="edit_icon project_component_edit" data-id="1">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </span>
                    </td>
                    <td>Jenkins adding</td>
                    <td>Devops</td>
                </tr>
                </tbody>
            </table>
            <a href="#component_create_form" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
            <div id="component_create_form" class="modal">
                <div class="modal-content">
                    <h5>New Component</h5>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <select>
                                    <option value="" disabled selected>Choose Layer</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                                <label>Layer</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Placeholder" id="layer_name" type="text" class="validate">
                                <label for="layer_name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="last_name">Description</label>
                            </div>
                        </div>

                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>

                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit_layer_modal" class="modal">
    <div class="modal-content">
        <h5>New Layer</h5>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="layer_name" type="text" class="validate">
                    <label for="layer_name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="last_name">Description</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>

        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div id="edit_component_modal" class="modal">
    <div class="modal-content">
        <h5>New Component</h5>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <select>
                        <option value="" disabled selected>Choose Layer</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Layer</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="layer_name" type="text" class="validate">
                    <label for="layer_name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="last_name">Description</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>

        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<#include "../dashboard/footer.ftl" />