@import '../materialize/components/color';
@import '../materialize/components/variables';

.board-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    //height: 100%;
    min-height: 800px;
}

.board-section {
    flex: 0 0 auto;
    width: 300px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-creator {
    display: block;
}

.board-card {
    margin: 10px;
    width: 280px;
}

.board-add-button {
    margin-left: 75%;
    opacity: 0;
}

.add-card-block {
    @extend .board-card;
    margin-top: 18px;
}

.custom-card-title {
    color: $link-color;
}