.project_card {
    margin: 15px;
    width: auto;

}

.project_link {
    text-decoration: unset;
    color: #777;
}

.project_link:hover {
    color: #00bcd4;
}

.project_table {
    width: 100%;
}

.create_form {
    margin: 10px;
}

.activity_username {
    padding: 5px;
}

.mobile_button {
    display: none;
}

a.menu-logo {
    padding-left: 10px;
}

.user-story-card-title {
    background: #26a69a;
    padding: 24px;
    border-radius: 2px;
    font-size: 24px;
    font-weight: 300;
}