.login-background {
    background: url("../images/main.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.home-logo {
    margin: 0;
    padding: 10%;
    height: 1000px;
    
}

.small__logo {
    padding-left: 10px;
    color: #fff;
    font-family: 'Satisfy', cursive;
}

.home-logo p {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 100%;
    font-size: 119px;
    color: #fff;
    font-family: 'Satisfy', cursive;
}

.validation_error {
    color: #f44336;
}


header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
          